
    <div class="flex flex-row gap-3 bg-blue-400 h-20 w-screen items-center justify-between pl-4 pr-4 lg:pr-10 lg:p-5 ">
        <img src="../../../assets/LOGO.png" alt="" class="w-[70px] h-[70px] mix-blend-darken  ">
        <input type="text " placeholder="Search your movie" class="w-[220px] h-[40px] rounded-lg pl-5 md:w-[420px] md:h-[40px] lg:w-[550px]" loading="lazy">
        <button class="w-[70px] h-[40px] bg-red-600 text-white font-bold rounded-xl lg:w-[120px] ">Sign in</button>
    </div>

<app-home></app-home>